* {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .profile-container {
            width: 90%;
            margin: 50px auto;
            padding: 30px; */
            background-color: white;
            display: flex; */
            gap: 40px;
            box-shadow: 0 2px 5px #aaa;
        }

        .left-section,
        .right-section {
            width: 50%;
        }

        .profile-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
        } 

        .personal-info {
            display: flex;
            gap: 40px;
        }

        .info p {
            margin: 10px 0;
        }

        .skills {
            margin-top: 25px;
        }

        .skill {
            margin-bottom: 20px;
        }

        .skill-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
        }

        .progress {
            height: 8px;
            background-color: #cfe2f5;
        }

        .progress-bar {
            height: 100%;
            background-color: #1683f8;
        }

        .about-title {
            display: inline-block;
            border-bottom: 3px solid #1683f8;
            padding-bottom: 10px;
        }

        .right-section p {
            font-size: 18px;
            line-height: 1.6;
            color: #555;
        }

        @media (max-width: 768px) {
            .profile-container {
                flex-direction: column;
            }

            .left-section,
            .right-section {
                width: 100%;
            }

            .personal-info {
                flex-direction: column;
            }
        }
